.a-list {
	text-decoration: none;
	list-style-type: none;
	color: black;
	margin: 0;
	padding: 0;
}

.a-list:hover{
	color: #2D3BFF;
}

.a-list:visited{
	color: green;
}

.a-list:visited:hover{
    color: #004300;
}

ul {
	float: none;
}